// Variables
$primary-color: #195f6d;
$light-primary-color: lighten($primary-color, 10%);
$lightest-primary-color: lighten($primary-color, 65%);
$text-color: lighten($primary-color, 75%);
$dark-color: #333333;
$light-color: #555555;

$link: $lightest-primary-color;
$primary: $light-primary-color;


// Import Bulma styles
@import '../../node_modules/bulma/bulma.sass';

// Global styles
* {
  font-family: var(--font-open-sans);
  transition: all 0.07s ease;
}

html {
  scroll-behavior: smooth;
}

// Sections
.section {
  position: relative;
}

// Paragraph styles
p {
  font-size: 18px;
}

// Link styles
a {
  display: inline-block;
  font-weight: 600;
  color: $primary-color;
}

// Icon styles
i {
  opacity: .5;
}

// Opacity 1 class
.op-1 {
  opacity: 1;
}

// Profile image styles
.profile {
  height: auto;
  width: 250px;
  border-radius: 30px;
  border: 1px solid $primary-color;
  &:hover {
    box-shadow: 2px 3px 0 0 $primary-color;
    translate: -2px -3px;
  }
  &:active {
    translate: 0 0;
    box-shadow: none;
  }
}

// Shape divider styles
.shape-divider {
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
  }
}

// Title styles
.title {
  color: $dark-color;
  font-family: var(--font-lora);
  font-size: 50px;
}

// Custom cursor
.mouse-trailer {
  background: invert($primary-color);
  box-shadow: 0 0 50px 50px invert($primary-color);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: fixed;
  transform: translateX(-50%) translateY(-50%);
  top: 0;
  left: 50%;
  z-index: 1;
  pointer-events: none;
  opacity: 0;
}
body:hover > .mouse-trailer {
  opacity: .1;
}

// Elements with position and z-index
h1, h2, h3, h4, h5, h6, p, a, button, .card, .column {
  z-index: 2;
  position: relative;
}

// Main section
.main-section {
  background: linear-gradient($primary-color 30%, $light-primary-color);
  .title {
    color: lighten($primary-color, 70%);
  }
  * {
    color: lighten($primary-color, 65%);
  }
  a {
    margin-right: 30px;
    font-size: 24px;
    &:last-child {
      margin-right: 0;
    }
    &:hover i {
      opacity: 1;
    }
  }
}

// Projects section
.projects-section {
  background-color: $lightest-primary-color;
  padding-top: 100px;
  h3.title {
    padding-top: 100px;
  }
  .post-card {
    padding: 20px;
    position: relative;
    background-color: white;
    & + .post-card {
      margin-top: 20px;
    }
    .post-image {
      height: 100%;
      width: 100%;
      img {
        border-radius: 20px;
        object-fit: cover;
        height: 100%;
      }
    }
    .title {
      margin-top: 15px;
      margin-bottom: 10px;
    }
    .content p {
      font-size: 16px;
      font-weight: 400;
      color: $light-color;
    }
    .post-time {
      color: $light-color;
      font-size: 14px;
      margin: 0;
      display: flex;
      align-items: center;
      gap: 10px;
      font-weight: 400;
      img {
        height: 30px;
        width: 30px;
        border-radius: 50%;
      }
    }
  }
  .post-card, .github-card {
    border-radius: 20px;
    border: 1px solid $primary-color;
    box-shadow: none;
    position: relative;

    .card-header {
      box-shadow: none;
    }

    .card-header-title {
      padding: 15px 25px;
      padding-bottom: 0;
      letter-spacing: 0.6px;
    }
    .card-content {
      padding: 1rem 1.5rem;
      font-weight: 400;
    }
    &:hover {
      box-shadow: 2px 3px 0 0 $primary-color;
      translate: -2px -3px;
    }
    &:active {
      translate: 0 0;
      box-shadow: none;
    }
  }
  .github-card {
    height: 100%;
    padding-bottom: 48px;
    .card-footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      border: 0;
      border-radius: 0 0 20px 20px;
      .card-footer-item {
        border: 0;
      }
    }
  }
  .shape-divider .shape-fill {
    fill: $light-primary-color;
  }
}

// Footer
.footer {
  background: linear-gradient($light-primary-color, $primary-color);
  padding-top: 200px;
  position: relative;
  * {
    color: $text-color;
  }
  .footer-links {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    a {
      font-size: 18px;
      text-align: center;
      width: 100px;
      &:hover {
        color: lighten($primary-color, 95%);
        i {
          opacity: 1;
        }
      }
      .icon {
        display: block;
        width: 100%;
      }
    }
  }
  .shape-divider .shape-fill {
    fill: $lightest-primary-color;
  }
}

@media screen and (max-width: 450px) {
  p {
    font-size: 16px;
  }
  .shape-divider svg {
    width: calc(175% + 1.3px) !important;
  }
  .profile {
    height: 180px;
    width: auto;
  }
}
