// Variables
$primary-color: #042d4e;
$light-primary-color: lighten($primary-color, 10%);
$lightest-primary-color: lighten($primary-color, 80%);
$text-color: lighten($primary-color, 75%);

// Import Bulma styles
@import '../../node_modules/bulma/bulma.sass';

// Global styles
* {
  font-family: var(--font-open-sans);
}

// Elements with fade transition animation
p, a, img, .title, .subtitle, .card, .animated-column {
  animation: fade-transition .6s forwards;
  opacity: 0;
}

// Sections
.section {
  position: relative;
}

// Paragraph styles
p {
  font-size: 18px;
  animation-delay: .6s;
}

// Link styles
a {
  display: inline-block;
  transition: 1s;
  animation-delay: 1s;
  font-weight: 600;
  color: $primary-color;
}

// Icon styles
i {
  transition: .4s;
  opacity: .5;
}

// Opacity 1 class
.op-1 {
  opacity: 1;
}

// Profile image styles
.profile {
  height: auto;
  width: 250px;
  border-radius: 30px;
  animation-delay: 0s;
  border: 2px solid rgba(lighten($primary-color, 20%), 0.5);
}

// Shape divider styles
.shape-divider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
  }
}

// Title styles
.title {
  color: #333;
  font-family: var(--font-lora);
  font-size: 50px;
  animation-delay: .2s;
}

// Subtitle styles
.subtitle {
  animation-delay: .4s;
}

// Custom cursor
.mouse-trailer {
  background: invert($primary-color);
  box-shadow: 0 0 100px invert($primary-color);
  width: 500px;
  height: 500px;
  border-radius: 50%;
  position: fixed;
  transform: translateX(-50%) translateY(-50%);
  top: 0;
  left: 50%;
  z-index: 1;
  pointer-events: none;
  transition: opacity .5s ease;
  opacity: 0;
}
body:hover > .mouse-trailer {
  opacity: .15;
}

// Elements with position and z-index
h1, h2, h3, h4, h5, h6, p, a, button, .card, .column {
  z-index: 2;
  position: relative;
}

// Transitions and animations
@keyframes fade-transition {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

// Main section
.main-section {
  background: linear-gradient($light-primary-color, $primary-color);
  .title {
    color: lighten($primary-color, 70%);
  }
  * {
    color: lighten($primary-color, 65%);
  }
  a {
    margin-right: 30px;
    font-size: 24px;
    &:last-child {
      margin-right: 0;
    }
    &:hover i {
      opacity: 1;
      transform: translateY(-2px);
    }
  }
}

// Projects section
.projects-section {
  background-color: $lightest-primary-color;
  padding-top: 200px;
  .title {
    margin-top: 100px;
    &:first-child {
      margin-top: 0;
    }
  }
  .animated-column {
    @for $i from 1 through 20 {
      &:nth-child(#{$i}) {
        animation-delay: $i * 0.25s;
      }
    }
  }
  .post-card, .github-card {
    border-radius: 20px;
    height: 100%;
    transition: .4s ease-in-out;
    box-shadow: 0 0 0 1px rgba($primary-color, 0);

    .card-header, .card-image, img {
      border-radius: 20px 20px 0 0;
      box-shadow: none;
    }
    .card-header-title {
      padding: 15px 25px;
      padding-bottom: 0;
      letter-spacing: 0.6px;
    }
    .card-content {
      padding: 1rem 1.5rem;
      font-weight: 400;
    }
    &:hover {
      box-shadow: 0 0 0 1px rgba($primary-color, 1);
    }
  }
  .github-card {
    padding-bottom: 48px;
    .card-footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      border: 0;
      border-radius: 0 0 20px 20px;
      .card-footer-item {
        border: 0;
      }
    }
  }
  .shape-divider .shape-fill {
    fill: $primary-color;
  }
}

// Footer
.footer {
  background: linear-gradient($light-primary-color, $primary-color);
  padding-top: 200px;
  position: relative;
  * {
    color: $text-color;
  }
  .footer-links {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    a {
      font-size: 18px;
      text-align: center;
      width: 100px;
      &:hover {
        color: lighten($primary-color, 95%);
        i {
          opacity: 1;
        }
      }
      .icon {
        display: block;
        width: 100%;
      }
    }
  }
  .shape-divider .shape-fill {
    fill: lighten($primary-color, 80%);
  }
}

@media screen and (max-width: 450px) {
  p {
    font-size: 16px;
  }
  .shape-divider svg {
    width: calc(175% + 1.3px) !important;
  }
  .profile {
    height: 180px;
    width: auto;
  }
}
