@import '../../node_modules/bulma/bulma.sass';

// $primary-color: #2e044e;
$primary-color: #042d4e;

* {
  font-family: var(--font-open-sans);
}

.custom-cursor {
  background-color: hsl(0, 79%, 72%);
  box-shadow: 0 0 10px hsl(0, 79%, 72%);
  opacity: .5;

  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  transition: .2s;
}

h1, h2, h3, h4, h5, h6, p, a, button, .card {
  z-index: 2;
  position: relative;
}

p, a, img, .title, .subtitle, .card, .animated-column {
  animation-name: fade-transition;
  animation-duration: .6s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.section {
  position: relative;
}

p {
  font-size: 18px;
  animation-delay: .6s;
}

a {
  display: inline-block;
  transition: 1s;
  animation-delay: 1s;
  font-weight: 600;
  color: $primary-color;
}

i {
  transition: .4s;
  opacity: .5;
}

.op-1 {
  opacity: 1;
}

.profile {
  height: auto;
  width: 250px;
  border-radius: 30px;
  animation-delay: 0s;
  box-shadow: 0 2px 4px rgba(lighten($primary-color, 20%),0.5);
}

.shape-divider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
  }
}

.title {
  color: #333;
  font-family: var(--font-lora);
  font-size: 50px;
  animation-delay: .2s;
}

.subtitle {
  animation-delay: .4s;
}

.main-section {
  background: linear-gradient(lighten($primary-color, 10%), $primary-color);
  .title {
    color: lighten($primary-color, 70%);
  }
  * {
    color: lighten($primary-color, 65%);
  }
  a {
    margin-right: 30px;
    font-size: 24px;
    &:last-child {
      margin-right: 0;
    }
    &:hover i {
      opacity: 1;
      transform: translateY(-2px);
    }
  }
}

.projects-section {
  background-color: lighten($primary-color, 80%);
  position: relative;
  padding-top: 200px;
  .animated-column {
    @for $i from 1 through 20 {
      &:nth-child(#{$i}) {
        animation-delay: $i * 0.25s;
      }
    }
  }
  .card {
    border-radius: 20px;
    height: 100%;
    padding-bottom: 48px;
    .card-header {
      border-radius: 20px 20px 0 0;
      box-shadow: none;
    }
    .card-header-title {
      padding: 15px 25px;
      padding-bottom: 0;
      letter-spacing: 0.6px;
    }
    .card-content {
      padding: 1rem 1.5rem;
    }
    .card-footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      border: 0;
      border-radius: 0 0 20px 20px;
      .card-footer-item {
        border: 0;
      }
    }
  }
  .shape-divider .shape-fill {
    fill: $primary-color;
  }
}

.footer {
  background: linear-gradient(lighten($primary-color, 10%), $primary-color);
  padding-top: 200px;
  position: relative;
  * {
    color: lighten($primary-color, 75%);
  }
  .footer-links {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    a {
      font-size: 18px;
      text-align: center;
      width: 100px;
      &:hover {
        color: lighten($primary-color, 95%);
        i {
          opacity: 1;
        }
      }
      .icon {
        display: block;
        width: 100%;
      }
    }
  }
  .shape-divider .shape-fill {
    fill: lighten($primary-color, 80%);
  }
}

@keyframes fade-transition {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media screen and (max-width: 450px) {
  p {
    font-size: 16px;
  }
  .shape-divider svg {
    width: calc(175% + 1.3px) !important;
  }
  .profile {
    height: 180px;
    width: auto;
  }
}